In [1]:
movie_rank=["닥터 스트레인지","스플릿","럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [2]:
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [3]:
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [4]:
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [5]:
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [6]:
lang1=["C","C++","JAVA"]
lang2=["Python","Go","C#"]
langs=lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [7]:
nums=[1,2,3,4,5,6,7]
print("max: {}".format(max(nums)))
print("min: {}".format(min(nums)))

max: 7
min: 1

In [8]:
nums=[1,2,3,4,5]
print(sum(nums))

15

In [9]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [10]:
nums=[1,2,3,4,5]
print(sum(nums)/len(nums))

3.0

In [11]:
price=['20180728',100,130,140,150,160,170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [12]:
nums=[1,2,3,4,5,6,7,8,9,10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [13]:
nums=[1,2,3,4,5,6,7,8,9,10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [14]:
nums=[1,2,3,4,5]
print(nums[::-1])
print(nums[-1::-1])

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [15]:
interest=['삼성전자','LG전자','Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [16]:
interest=['삼성전자','LG전자','Naver','SK하이닉스','미래애셋대우']
interest=" ".join(interest)
print(interest)

삼성전자 LG전자 Naver SK하이닉스 미래애셋대우

In [17]:
interest=['삼성전자','LG전자','Naver','SK하이닉스','미래애셋대우']
interest="/".join(interest)
print(interest)

삼성전자/LG전자/Naver/SK하이닉스/미래애셋대우

In [18]:
interest=['삼성전자','LG전자','Naver','SK하이닉스','미래애셋대우']
interest="\n".join(interest)
print(interest)

삼성전자
LG전자
Naver
SK하이닉스
미래애셋대우

In [19]:
string="삼성전자/LG전자/Naver"
interest=string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [20]:
data=[2,4,3,1,5,10,9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [21]:
my_variable=tuple()

my_variable2=()

print(my_variable,type(my_variable))
print(my_variable2,type(my_variable2))

() <class 'tuple'>
() <class 'tuple'>

In [22]:
movie_rank=("닥터 스트레인지","스플릿","럭키")
print(movie_rank, type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [23]:
t=(1)
print(t)
print(type(t))

1
<class 'int'>

In [24]:
t=(1,2,3)
t[0]='a'
# 튜플의 값은 변경할 수 없기 때문에 오류 발생

TypeError: 'tuple' object does not support item assignment

In [25]:
t=1,2,3,4
type(t)
# 튜플

tuple

In [26]:
t=('a','b','c')
#t[0]=t[0].upper()
#t[0]='A'

t=('A','b','c')
print(t)
# 값 변경이 불가능하기 때문에 재선언해야함

('A', 'b', 'c')

In [27]:
interest=('삼성전자','LG전자','SK Hynix')
inter_list=list(interest)
print(inter_list)
print(type(inter_list))

['삼성전자', 'LG전자', 'SK Hynix']
<class 'list'>

In [28]:
interest=['삼성전자','LG전자','SK 하이닉스']
interest_tuple=tuple(interest)
print(interest_tuple)
print(type(interest_tuple))

('삼성전자', 'LG전자', 'SK 하이닉스')
<class 'tuple'>

In [29]:
temp=('apple','banana','cake')
a,b,c=temp
print(a,b,c)

# apple banana cake

apple banana cake

In [33]:
a=tuple(range(2,100,2))
print(a)

# b=tuple(x for x in range(2,100,2))
# print(b)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)