113) 짝수/홀수 판별

In [1]:
num=int(input())
print("짝수" if num%2==0 else "홀수")

30
짝수

114) 입력받은 값에 20 더한 값 출력, 255 초과하는 경우 255 출력

In [5]:
num=int(input())
print(num+20 if num+20<=255 else 255)

236
255

115) 입력 값 -20 출력, 출력 값 범위는 0~255

In [9]:
num= int(input())
print(num-20 if 0<num-20<255 else 0 if num-20<0 else 255)

276
255

116) 입력 받은 시간이 정각인지 판별 (xx:xx) 형태로 입력

In [78]:
string=input()
print("정각 입니다." if string.split(":")[1]=='00' else "정각이 아닙니다.")

02:00
정각

117) 입력받은 단어가 리스트에 포함되어 있는지 확인, 포함되었으면 "정답입니다" 아닐 경우 "오답입니다" 출력

In [15]:
fruit=["사과","포도","홍시"]

like_fruit=input("좋아하는 과일은? ")

print("정답입니다." if like_fruit in fruit else "오답입니다.")

좋아하는 과일은? 감
오답입니다.

119) 사용자 입력 값이 딕셔너리 키값에 포함이면 "정답입니다." 아닐 경우 "오답입니다." 출력

In [22]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

like_fruit=input("좋아하는 계절은? ")
print("정답입니다." if like_fruit in fruit else "오답입니다.") 
# 딕셔너리에 in 사용할 경우 key만 판별

좋아하는 계절은? 가을
정답입니다.

120) 딕셔너리 값에 포함?

In [25]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

like_fruit=input("좋아하는 계절은? ")

print("정답입니다." if like_fruit in fruit.values() else "오답입니다.")

좋아하는 계절은? 가을
오답입니다.

121) 문자 입력 받고 소문자->대문자, 대문자->소문자 변경해서 출력

In [27]:
string=input()
print(string.upper() if string.islower()==True else string.lower())

A
a

122) 성적 입력받고 학점 출력

In [28]:
score=int(input("score: "))
grade=""
if 80<score<=100:
    grade="A"
elif score>60:
    grade="B"
elif score>40:
    grade="C"
elif score>20:
    grade="D"
else:
    grade="E"
print("grade is {}".format(grade))

score: 83
grade is A

123) 달러, 엔, 유로, 위안 입력 받아 원으로 변환, 금액과 통화명 사이 공백 넣어 입력

In [31]:
input_money=input("입력: ")
money=int(input_money.split()[0])
name=input_money.split()[1]
if name=="달러":
    money*=1167
elif name=="엔":
    money*=1.096
elif name=="유로":
    money*=1268
elif name=="위안":
    money*=171
print("{} 원".format(money))

입력: 100 달러
116700 원

124) 3개의 숫자 입력 받은 후 가장 큰 숫자 출력

In [33]:
num=[]
for i in range(1,4):
    a=int(input("input number{}: ".format(i)))
    num.append(a)
print(max(num))

input number1: 10
input number2: 9
input number3: 20
20

126) 우편번호로 구 판별

In [35]:
kb=["010","011","012"]
db=["013","014","015"]
nw=["016","017","018","019"]

number=input("우편번호: ")[:3]
if number in kb:
    print("강북구")
elif number in db:
    print("도봉구")
elif number in nw:
    print("노원구")

우편번호: 01633
노원구

127) 주민번호로 성별 판별 후 출력

In [38]:
a=input("주민등록번호: ").split("-")[1][0]

if a=="1" or a=="3":
    print("남자")
elif a=="2" or a=="4":
    print("여자")
else:
    print("외계인")

주민등록번호: 821010-5635210
외계인

128) 뒷자리 중 2~3번째 지역코드를 통해 서울인지 판별

In [45]:
a=int(input("주민등록번호: ").split("-")[1][1:3])
print("서울 입니다." if 0<=a<=8 else "서울이 아닙니다.")

주민등록번호: 861010-1085210
서울 입니다.

129) 주민등록번호 유효성검사

In [75]:
a=input("주민등록번호: ")
result=0
list_1=[]
list_2=[2,3,4,5,6,7,8,9,2,3,4,5]
for i in a:
    if i.isdigit()==True: #문자열이 숫자인지 판별하는 함수
        list_1.append(int(i))
num=list_1[-1]
list_1=list_1[:-1]
for j in range(len(list_1)):
    result+=(list_1[j]*list_2[j])
result= 11-(result%11)
print("유효하지 않은 주민등록번호입니다." if num!=result else "유효합니다.")

주민등록번호: 821010-1635214
유효합니다.
4

130) btc 딕셔너리, 시가+변동폭이 최고가 보다 높으면 "상승장" 아니면 "하락장" 출력

In [86]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

start=float(btc['opening_price'])
max_price=float(btc['max_price'])
change=max_price-float(btc['min_price'])

print("상승장" if (start+change)>max_price else "하락장")

상승장

141) 10원 부가세 붙여서 출력하기

In [87]:
lst=[100,200,300]

for i in lst:
    print(i+10)

110
210
310

149) lst=["가","나","다","라"] 에서 가,다 출력

In [89]:
lst=["가","나","다","라"]
for i in range(0,len(lst),2):
    print(lst[i])

가
다

150) for 문을 사용해서 거꾸로 출력

In [91]:
lst=["가","나","다","라"]
for i in lst[::-1]:
    print(i)

라
다
나
가

153) 리스트에서 20보다 작은 3의 배수 출력하기

In [93]:
lst= [13, 21, 12, 14, 30, 18]

for i in lst:
    if i<20 and i%3==0:
        print(i)

12
18

155) 대문자만 출력

In [94]:
lst=["A","b","c","D"]

for i in lst:
    if i.islower()==True:
        pass
    else:
        print(i)

A
D

157) 첫 글자 대문자로 변경해서 출력하기

In [95]:
lst= ['dog', 'cat', 'parrot']

for i in lst:
    print(i.capitalize())

Dog
Cat
Parrot

158) 파일이름 저장된 리스트에서 확장자 제거하고 이름만 출력

In [97]:
lst=['hello.py', 'ex01.py', 'intro.hwp']

for i in lst:
    print(i.split(".")[0])

hello
ex01
intro

160) 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력

In [112]:
lst= ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in lst:
    if i.split(".")[1] in ['h','c']:
        print(i)

intra.h
intra.c
define.h

161) for, range 사용해서 0~99까지 한 라인에 하나씩 출력

In [113]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

164) 99부터 0까지 1씩 감소하는 숫자들을 한 라인에 하나씩 출력

In [114]:
for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

167) 구구단 3단의 홀수 번째만 출력

In [115]:
for i in range(1,10,2):
    print("{}X{} = {}".format(3,i,3*i))

3X1 = 3
3X3 = 9
3X5 = 15
3X7 = 21
3X9 = 27

172) 리스트 데이터 출력

In [116]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print("{} {}".format(i,price_list[i]))

0 32100
1 32150
2 32000
3 32500

173) 리스트 데이터 출력

In [117]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print("{} {}".format(3-i,price_list[i]))

3 32100
2 32150
1 32000
0 32500

174) 리스트 데이터 출력

In [119]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1,len(price_list)):
    print("{} {}".format(100+((i-1)*10),price_list[i]))

100 32150
110 32000
120 32500

175) 리스트 출력

In [120]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print("{} {}".format(my_list[i],my_list[i+1]))

가 나
나 다
다 라

176) 리스트 출력

In [121]:
my_list = ["가", "나", "다", "라","마"]
for i in range(len(my_list)-2):
    print("{} {} {}".format(my_list[i],my_list[i+1],my_list[i+2]))

가 나 다
나 다 라
다 라 마

180) 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

In [122]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility=[]
for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]

184) 표를 딕셔너리로 표현하기

In [123]:
stock={"10/10":[80,100,70,90],"10/11":[210,230,190,200]}
print(stock)

{'10/10': [80, 100, 70, 90], '10/11': [210, 230, 190, 200]}

185) 리스트 데이터 출력

In [128]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print("{} 호".format(j))

101 호
102 호
201 호
202 호
301 호
302 호

186) 리스트 데이터 출력

In [129]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print("{} 호".format(j))

301 호
302 호
201 호
202 호
101 호
102 호

187) 리스트 데이터 출력

In [130]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print("{} 호".format(j))

302 호
301 호
202 호
201 호
102 호
101 호

188) 리스트 데이터 출력

In [132]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print("{} 호".format(j))
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

190) 리스트 데이터 출력

In [133]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print("{} 호".format(j))
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

191) 수수료를 0.014%로 가정하고 수수료 포함한 가격을 한줄마다 출력

In [135]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

192) 191번 출력 결과에 행단위로 "----" 구분자 추가

In [136]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

193) 192번 결과를 result 리스트에 1차원 배열로 저장

In [140]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result=[]
for i in data:
    for j in i:
        result.append(j*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

194) 2차원 배열로 저장

In [142]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result2=[]
for i in data:
    result=[]
    for j in i:
        result.append(j*1.00014)
    result2.append(result)
print(result2)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

195) 화면에 종가데이터 출력하기

In [144]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(1,len(ohlc)):
    print(ohlc[i][-1])

100
190
310

196) 종가가 150원보다 큰경우에만 출력

In [145]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(1,len(ohlc)):
    if ohlc[i][-1]>150:
        print(ohlc[i][-1])

190
310

198) 변동폭은 고가와 저가의 차이, volatility 리스트에 저장

In [146]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility=[]
for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
print(volatility)

[40, 30, 10]

201) '비트코인' 문자열을 화면에 출력하는 print_coin() 함수 정의

In [148]:
def print_coin():
    print("비트코인")

202) 정의한 함수 호출

In [150]:
print_coin()

비트코인

208) 실행 결과 예측

In [ ]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()


# A
# C
# B
# E
# D

211) 함수 호출 결과 예측

In [151]:
def 함수(문자열):
    print(문자열)
함수('안녕')
함수('Hi')

#안녕
#Hi

안녕
Hi

215) 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [152]:
def print_with_smile(string):
    return string+":D"

'hi:D'

216) 정의한 함수 호출

In [153]:
print_with_smile("안녕하세요")

'안녕하세요:D'

217) 가격 입력 받아 상한가(30%)출력하는 함수 정의

In [154]:
def print_upper_price(price):
    return price*1.3

print(print_upper_price(10000))

13000.0

218) 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [155]:
def print_sum(a,b):
    return a+b

print(print_sum(10,20))

30

219) 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [156]:
def print_arithmetic_operation(a,b):
    print("{} + {} = {}".format(a,b,a+b))
    print("{} - {} = {}".format(a,b,a-b))
    print("{} * {} = {}".format(a,b,a*b))
    print("{} / {} = {}".format(a,b,a/b))
    
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

220) 3개의 숫자 입력받아 가장 큰 수 출력하는 함수 정의

In [162]:
def print_max(a,b,c):
    max_num=0
    if a>max_num:
        max_num=a
    if b>max_num:
        max_num=b
    if c>max_num:
        max_num=c
    return max_num
print_max(12,2,3)

12

221) 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의

In [163]:
def print_reverse(string):
    return string[::-1]

print_reverse('python')

'nohtyp'

223) 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의

In [164]:
def print_even(lst):
    for i in lst:
        if i%2==0:
            print(i)
            
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

224) 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의

In [165]:
def print_keys(dic):
    for i in dic.keys():
        print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

225) my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장, my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의

In [167]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
           
def print_value_by_key(dict,string):
    return my_dict[string]
    
    
print_value_by_key(my_dict,"10/26")

[100, 130, 100, 100]

226) 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성

In [181]:
def print_5xn(string):
    for i in range(0,len(string),5):
        print(string[i:i+5])
        
print_5xn("아이앰어보이유알어걸하하하하히히하하후")

아이앰어보
이유알어걸
하하하하히
히하하후

227) 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성

In [182]:
def printmax(string,num):
    for i in range(0,len(string),num):
        print(string[i:i+num])
    
printmax("아이엠어보이유알어걸",3)

아이엠
어보이
유알어
걸

228) 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

In [183]:
def calc_monthly_salary(annual_salary):
    return int(annual_salary//12)
calc_monthly_salary(12000000)

1000000

232) 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의

In [184]:
def make_url(string):
    return "www."+string+".com"
make_url("naver")

'www.naver.com'

233)  문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의

In [186]:
def make_list(string):
    result=[]
    for i in string:
        result.append(i)
    return result
make_list("abcd")

['a', 'b', 'c', 'd']

234) 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현

In [187]:
def pickup_even(lst):
    result=[]
    for i in lst:
        if i%2==0:
            result.append(i)
    return result
pickup_even([3,4,5,6,7,8])

[4, 6, 8]

235) 콤마 포함 문자열 숫자 입력받아 정수로 변환하는 함수

In [189]:
def convert_int(string):
    return int(string.replace(",",""))
convert_int("1,234,567")

1234567

240) 실행 결과 예측

In [191]:
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

# 28

28