In [1]:
letters='python'
print(letters[0], letters[2])

p t

In [2]:
license_plate="24가 2210"
print(license_plate[-4:])

2210

In [4]:
string="홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [11]:
string="PYTHON"
print(string[::-1])

for i in range(len(string)-1,-1,-1):
    print(string[i],end="")

NOHTYP
NOHTYP

In [12]:
phone_number = "010-1111-2222"
phone_number.replace("-"," ")

'010 1111 2222'

In [14]:
phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [15]:
url = "http://sharebook.kr"
url.split(".")[-1]

'kr'

In [16]:
lang = 'python'
lang[0] = 'P'
print(lang) 
#문자열 수정 불가

TypeError: 'str' object does not support item assignment

In [19]:
string = 'abcdfe2a354a32a'
print(string.replace("a","A"))

for i in string:
    if i=='a':
        print(i.upper(),end="")
    else:
        print(i,end="")

Abcdfe2A354A32A
Abcdfe2A354A32A

In [21]:
string='abcd'
string.replace('b','B')
print(string)
#abcd 이유 : 변수에 저장하지 않았음

abcd

In [22]:
a="3"
b="4"
print(a+b)
#34

34

In [23]:
print("hi"*3)
#hihihi

hihihi

In [24]:
print("-"*80)

--------------------------------------------------------------------------------

In [28]:
t1='python'
t2='java'

print((t1+" "+t2+" ")*4)

python java python java python java python java

In [31]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1,age1))
print("이름: %s 나이: %d" % (name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [32]:
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [34]:
#f-string 이란? 문자열 앞에 f가 붙은 형태
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [37]:
상장주식수 = "5,969,782,550"
상장주식수=int(상장주식수.replace(",",""))
print(상장주식수)
print(type(상장주식수))

5969782550
<class 'int'>

In [41]:
분기 = "2020/03(E) (IFRS연결)"

print(분기[:7])

분기리스트=분기.split("(")
print(분기리스트[0])

2020/03
2020/03

In [42]:
data = "   삼성전자    "
print(data.strip())

삼성전자

In [43]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [44]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [45]:
a="hello"
print(a.capitalize())
# capitalize 란? 첫 글자 대문자, 나머지는 소문자

Hello

In [47]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [49]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

In [51]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [52]:
a = "hello world"
a.split()

['hello', 'world']

In [53]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [54]:
date = "2020-05-01"
date_list=date.split("-")
print(date_list)

['2020', '05', '01']

In [55]:
data = "039490     "
data.rstrip()

'039490'