## 학습목표
 1. list, tuple에 대해 이해하고 사용할 수 있다.

### **리스트와 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조이다.
 * 실생활에서 사용하는 리스트와 동일한 의미로 이해하면 된다. ex)수강생리스트 등.
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성한다.
 - list() 함수로 생성한다.
 - str.split()함수로 생성한다.
 
 ##### 빈리스트 만들기 
 
 ```
리스트 = []
리스트 = list()
 ```

In [5]:
a=[]
print(type(a))
print(a)

<class 'list'>
[]

In [3]:
a=list()
type(a)

list

In [9]:
string="1 2 3"
a=string.split()
print(a)
type(a)

['1', '2', '3']

list

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용한다.

In [12]:
a=(1,2,3)
print(a)
print(type(a))
a=list(a)
print(a)
print(type(a))

s="hello world"
print(s)
print(type(s))
s=list(s)
print(s)
print(type(s))

(1, 2, 3)
<class 'tuple'>
[1, 2, 3]
<class 'list'>
hello world
<class 'str'>
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
<class 'list'>

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환한다.

In [19]:
a="1,2,3,4,5"
list_a=a.split(",")
print(list_a)
type(list_a)

['1', '2', '3', '4', '5']

list

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작한다.
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [22]:
print(list_a[:-1])
print(list_a[2])
print(list_a[::-1])

['1', '2', '3', '4']
3
['5', '4', '3', '2', '1']

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [23]:
print(list_a)
list_a[0]=100
print(list_a)

['1', '2', '3', '4', '5']
[100, '2', '3', '4', '5']

In [35]:
a="hello"
list_a=list(a)
print(list_a)
c=list_a[:3]
print(c)

['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l']

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작한다.
 - 슬라이싱의 결과 역시 list 이다.

In [40]:
a=[1,2,3,4,5,6,7,8,9]
print(a[3:])
print(a[::2])
print(a[::-2])
print(a[-1::-1])

[4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 7, 5, 3, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

#### list 멤버 함수

* **append()**
 + 리스트의 끝에 항목을 추가한다.

In [55]:
a=[1,2,3,4,5]
b=[9,8,7]
print(a)
a.append(6)
print(a)
a.append([7,8])
print(a)
a.append("9")
print(a)
a.append(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [7, 8]]
[1, 2, 3, 4, 5, 6, [7, 8], '9']
[1, 2, 3, 4, 5, 6, [7, 8], '9', [9, 8, 7]]

+ **extend()**
 * 리스트를 연장한다.
 * += 로도 가능하다.

In [56]:
a=[1,2,3]
b=[9,8,7]
print(a)

a.extend([3])
print(a)

a.extend([4,5])
print(a)

a.extend("6")
print(a)

a.extend(b)
print(a)

a+=b
print(a)

[1, 2, 3]
[1, 2, 3, 3]
[1, 2, 3, 3, 4, 5]
[1, 2, 3, 3, 4, 5, '6']
[1, 2, 3, 3, 4, 5, '6', 9, 8, 7]
[1, 2, 3, 3, 4, 5, '6', 9, 8, 7, 9, 8, 7]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능하다.
 * 앞에 인덱스를, 뒤에 아이템을 명시한다.

In [80]:
a=[1,2,3]
print(a)
a.insert(3,4)
print(a)
a.insert(4,20)
print(a)
a.insert(10,30)
print(a)

# 인덱스 인자가 리스트 크기보다 크면 제일 마지막에 추가

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 20]
[1, 2, 3, 4, 20, 30]

+ **remove()**
 * 값으로 항목 삭제한다.

In [99]:
a=[2,3,4,5,1,4,3,2]
print(a)
a.remove(2)
print(a)
a.remove(3)
print(a)
print(a.remove(2)) #지우지만 반환 x 
print(a)
# 제일 먼저 나오는 값만 삭제

[2, 3, 4, 5, 1, 4, 3, 2]
[3, 4, 5, 1, 4, 3, 2]
[4, 5, 1, 4, 3, 2]
None
[4, 5, 1, 4, 3]

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제한다.

In [101]:
b=[1,2,3,4,5,5,6]
b.pop()
print(b)

b.pop(2) #2번째 인덱스
print(b)

print(b.pop(3)) #반환
print(b)

# 인자값 미지정 시 마지막 인덱스 반환 후 삭제

[1, 2, 3, 4, 5, 5]
[1, 2, 4, 5, 5]
5
[1, 2, 4, 5]

+ **index()**
 * 찾고자 하는 값의 인덱스 반환한다.

In [106]:
aa=[1,22,31,43,54,65]
aa.index(1) #1은 0번째 인덱스
aa.index(22) #22는 1번째 인덱스

1

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인한다.
 + value in [list]
 + True, False 중 한가지로 반환한다.

In [125]:
a=[9,5,4,2,1]
print(9 in a)
print(10 in a)
b in a

True
False

False

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬한다.
 + sorted() -> 리스트의 정렬된 복사본을 반환한다.

In [138]:
a=[4,5,3,2,1]
b=[2,3,1,4,5]
c=[3,4,2,1,5]
a.sort()
print(a)
b.sort(reverse=True) #역정렬
print(b)
d=sorted(c) #정렬된 리스트 반환
print(c)
print(d)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[3, 4, 2, 1, 5]
[1, 2, 3, 4, 5]

In [140]:
print(max(a))
print(min(a))

5
1

* **range를 사용하여 리스트 만들기**
  + range(횟수)
  + 리스트 = list(range(횟수))
  + 리스트 = list(range(시작, 끝))
  + 리스트 = list(range(시작, 끝, 증가폭))

In [152]:
a= list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
list(range(5))

[0, 1, 2, 3, 4]

In [150]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [151]:
list(range(1,100,10))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [153]:
b= [x for x in range(1,10,2)]
print(b)
c=[0 for i in range(10)]
print(c)
d= [[0]*i for i in range(1,6)]
print(d)

[1, 3, 5, 7, 9]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0], [0, 0], [0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0, 0]]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입이다. 
 - 생성된 후 변경이 불가능하다. 
 - 읽기전용 리스트이다. 
 
 
   + 튜플 = (값,값,값)
   + 튜플 = 값, 값, 값
   + 튜플 = (값,) - 요소가 하나일 때 튜플로 지정하려면 , 를 붙혀준다. 
   + 튜플 = 값,

In [159]:
a=(1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [158]:
a=1,2,3
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [160]:
a=(1,)
print(a)
print(type(a))

(1,)
<class 'tuple'>

In [161]:
a=1,
print(a)
print(type(a))

(1,)
<class 'tuple'>

In [169]:
t=()
print(t)
print(type(t))

tt=tuple()
print(tt)
print(type(tt))

()
<class 'tuple'>
()
<class 'tuple'>

In [164]:
# range를 이용하여 tuple만들기 - 리스트와 동일하다. 
a=tuple(range(10))
print(a)
print(type(a))

a=tuple(range(1,10))
print(a)
print(type(a))

a=tuple(range(1,100,10))
print(a)
print(type(a))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
(1, 11, 21, 31, 41, 51, 61, 71, 81, 91)
<class 'tuple'>

In [170]:
# 요소가 한개인 튜플은 어떻게 만들까??    값뒤에 , 붙혀줌. 
t=1,
tt=(1,)
print(type(t))
print(type(tt))

<class 'tuple'>
<class 'tuple'>

#### **튜플을 리스트로 리스트를 튜플로 만들기**

In [166]:
a=(1,2,3)
print(a)
print(type(a))
a=list(a)
print(a)
print(type(a))

<class 'tuple'>
[1, 2, 3]
<class 'list'>

In [167]:
a=[1,2,3]
print(a)
print(type(a))
a=tuple(a)
print(a)
print(type(a))

[1, 2, 3]
<class 'list'>
(1, 2, 3)
<class 'tuple'>

#### **list unpacking, tuple unpacking**
 - 리스트나 튜플의 값을 차례대로 변수에 대입한다.
 
 ```
 x = [1, 2, 3]
 a, b, c = x
 y = (4, 5, 6)
 d, e, f = y
 ```
 
 
#### **list packing, tuple packing**
  - 변수에 리스트나 튜플을 할당하는 과정을 뜻한다.  
  - a = [1,2,3] 
  - a = (1,2,3)
  - a = 1,2,3

In [183]:
x=[10,20,30,40]
a,b,c,z=x
print(a,b,c,z)
y=(40,50,60)
d,e,f=y
print(d,e,f,)

10 20 30 40
40 50 60

* **연습문제** a와 b의 값을 교환하시오

In [190]:
a = 5
b = 4

print(a, b)

#여기에 구현
a,b=b,a
print(a,b)

t=a,b
b,a=t

print(a, b)

temp=a
a=b
b=temp
print(a,b)

5 4
4 5
5 4
4 5

### 시퀀스 자료형 

- 값이 연속적으로 이어져 있는 자료형을 말한다. 
- 리스트, 튜플, range, 문자열 등이 시퀀스 자료형에 해당한다. 

#### 시퀀스객체안에 원하는 값 확인하기 
- 값이 있는지 확인 할때는 아래와 같이 in 을 이용한다. 
    - 값 in 시퀀스 객체 
- in 앞에 not을 붙히면 반대로 값이 없는지 확인한다. 
    - 값 not in 시퀀스객체

In [212]:
s="hi hello"
print('hi h' in s)
print('hi' not in s)
print('ih' not in s)

10 in range(10)

True
False
True

False

#### 시퀀스 객체 연결 

- + 연산자를 이용하여 객체를 서로 연결해서 새 객체를 만든다. 
    - 시퀀스객체1 + 시퀀스객체2
- 단, range는 리스트나 튜플을 만든 후 연결해야 한다. 
- 문자열은 + 연산자를 이용하여 문자열을 연결할 수 있다.

In [213]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [214]:
# range(10) + range(11,5)   range 자체로 + 연산은 불가하다.
# range를 이용해서 리스트나 튜플 생성후 연결
# 리스트+리스트, 튜플+튜플 가능
a=list(range(10))
b=list(range(10,20))
print(a+b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

'abccde'

In [215]:
a="abc"
b="cde"
a+b

'abccde'

#### 시퀀스객체 반복하기

- * 연산자를 이용하면 시퀀스 객체를 원하는 횟수만큼 반복할 수 있다. 
- 0 또는 음수를 곱하면 빈 객체가 나온다.  실수는 곱할 수 없다. 

    - 시퀀스객체 * 정수 
    - 정수 * 시퀀스객체
- range는 * 연산자를 사용할 수 없다.
- 문자열은 * 연산자 사용이 가능하다.

In [222]:
a=[1,2,3,4]
print(a*2)
b="abc"
c="def"
print(b*2, c*2)

# range(10)*2  에러
print(list(range(10))*2)

[1, 2, 3, 4, 1, 2, 3, 4]
abcabc defdef
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### len() 함수 이용해서 개수 구하기

- len(리스트)
- len(튜플)
- len(문자열)
- len(range())

In [226]:
list_a=[0,4,1,2,3]
tuple_a=4,3,2,3,4,1,5
str_a="안녕하세요"
print(len(list_a))
print(len(tuple_a))
print(len(str_a))
print(len(range(5)))

5
7
5
5

In [1]:
a=[1,2,3]
del a[1] #a의 1번째 인덱스 제거
print(a)

del a #a라는 변수 제거
print(a)

[1, 3]

NameError: name 'a' is not defined

<h4>리스트 복사하기

In [4]:
list_a=[1,2,3,4,5]
list_b=list_a

list_b[0]=10
print(list_a)
print(list_b)

print(id(list_a[0]))
print(id(list_b[0]))

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
140725263804480
140725263804480

<h4>copy 함수 사용

In [5]:
a=[1,2,3,4,5]
b=a.copy()

b[0]=10
print(a)
print(b)
print(id(a[0]))
print(id(b[0]))

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
140725263804192
140725263804480

#### deepcopy 사용

In [7]:
a=[[1,2,3],[4,5,6],[7,8,9]]
b=a.copy()

b[0][0]=10
print(a)
print(b)
print(id(a[0][0]))
print(id(b[0][0]))

[[10, 2, 3], [4, 5, 6], [7, 8, 9]]
[[10, 2, 3], [4, 5, 6], [7, 8, 9]]
140725263804480
140725263804480

In [8]:
import copy
a=[[1,2,3],[4,5,6],[7,8,9]]
b=copy.deepcopy(a)

b[0][0]=10
print(a)
print(b)
print(id(a[0][0]))
print(id(b[0][0]))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[10, 2, 3], [4, 5, 6], [7, 8, 9]]
140725263804192
140725263804480